/*===================================== CSS Outer Wrapper =====================================*/
.top-header {background:#fff;padding:20px;}
#outer-wrapper {background:#E9EAED;max-width:1100px;overflow:hidden;margin:auto;margin-top: 10px;border: 1px solid rgba(181, 181, 181, 0.44)}
#banner {margin-bottom: 20px; background: #fff; border: 1px solid; border-color: #e5e6e9 #dfe0e4 #d0d1d5; text-align: center; padding: 10px; margin: 15px;}

/*===================================== CSS Post Wrapper =====================================*/
#post-wrapper {background:transparent;color:#444;float:left;width:68%;margin:0 0 10px;padding-left: 15px;}
.post-inner {padding:0;}
.post {background:#fff;margin:0 0 15px;padding:0;border: 1px solid; border-color: #e5e6e9 #dfe0e4 #d0d1d5;}
.post-body {font-family: &#39;Montserrat&#39;, sans-serif;line-height:1.6em;color:#444;margin-right:0;font-size:14px;}
.post-body img {max-width:95%;margin:0 auto;height:auto;}
h3.post-title, h2.post-title, h1.post-title {font-family: &#39;Righteous&#39;, cursive;font-size:22px;font-weight:400;margin-bottom:20px}
h3.post-title a, h2.post-title a, h1.post-title a, h2.post-title, h1.post-title {color:#666;}
h3.post-title a:hover, h2.post-title a:hover, h1.post-title a:hover {color:#f56954!important;}
.post-info {background:transparent;margin-top:5px;margin-bottom:5px;color:#fff;font-size:12px;text-align:left;padding:0;box-shadow:none;}
.post-info a {display:inline;background:transparent;color:#828282;padding:4px 6px 4px 6px;transition:all .3s ease-out;}
.post-info a:hover {color:#f56954;}
.author-info, .time-info, .label-info, .comment-info {display:inline;color:#828282;}
.timestamp-link abbr {border-bottom:none;}
span.post-author.vcard {visibility:hidden;width:0;height:0;}
.post-header, .post-footer {line-height:initial;width:0;height:0;}

/*===================================== CSS Custom Stats =====================================*/
.Stats img {display:none!important;background-image:none;}
.Stats .counter-wrapper {width:92%;text-align:right;margin:10px;line-height:35px;color:#333;font-weight:700;font-size:16px;}
.Stats .counter-wrapper:after {content:&quot;Visualizações&quot;;float:left;text-align:left;font-size:13px;font-weight:700;color:#333;}
.counts {display:inline-block;width:92%;margin:10px;font-size:13px;line-height:35px;color:#333;font-weight:700;}
.counts .count {display:inline-block;font-size:16px;height:30px;vertical-align:top;direction:ltr;float:right;color:#333;font-weight:700!important;}
.counter-wrapper.text-counter-wrapper:before, .counts:before {display:inline-block;font-size:13px;font-family:FontAwesome;font-style:normal;font-weight:normal;margin:0 10px 0 10px;float:left;width:10px;text-align:center;}
.counter-wrapper.text-counter-wrapper:before, .counts:before {display:block;background-color:#fff;color:#333;width:35px;height:35px;font-size:18px;line-height:35px;border-radius:2px;margin:0px 8px 0 0;}
.counter-wrapper.text-counter-wrapper:before {content:&quot;\f06e&quot;;}

/*===================================== CSS Footer Wrapper =====================================*/
#footer-wrapper {text-align:left;overflow:hidden;padding:15px 0 0 0;margin-top:20px;background-color:#374147;}
#footer-wrapper .widget-content a {color:#fff}
#footer-widgetfix .footer-widget {width:30.2%;float:left;margin-left:20px;padding-top:10px;padding-bottom:15px;}
#footer-widgetfix {max-width:1100px;overflow:hidden;margin:0 auto;}
#footer-wrapper h2 {font-family: &#39;Montserrat&#39;, sans-serif;font-size:15px;font-weight:700;color:#f9f9f9;padding:10px 0;text-transform:uppercase;display:block;border-bottom: 3px solid #243242;}
#footer-wrapper .widget-content {text-align:left;font-family: &#39;Montserrat&#39;, sans-serif;color:#f9f9f9;}
#footer-wrapper .widget-content li {margin-left:-14px;color:#f9f9f9}
#footer-wrapper .widget li {margin:5px 0 0 0;padding:5px 2px 0 0;display:inline-block;}
.footer li a {padding-top:0;padding-right:0;font-size:13px;
font-weight:400;font-family: &#39;Montserrat&#39;, sans-serif;color:#f9f9f9;margin:0}
.footer li a:hover {color:#fff;}
#footerfix {overflow:hidden;padding:1px 5px;margin:1px 0 0 0;    background-color:rgb(47, 55, 60);}
.copyleft {float:left;margin:10px;color:#fff;font-size:12px;font-family: &#39;Montserrat&#39;, sans-serif;}
#copyright {float:right;color:#fff;font-size:12px;font-family: &#39;Montserrat&#39;, sans-serif;margin-right:30px}
.copyleft a,#copyright a {color:#fff;text-decoration:none;}
.copyleft a:hover,#copyright a:hover {color:#a94334;text-decoration:none;}
.quickedit{display:none;visibility:hidden}
#ArchiveList a.post-count-link, #ArchiveList a.post-count-link:link, #ArchiveList a.post-count-link:visited {text-decoration:none;font-size:13px;font-weight:700;font-family: &#39;Montserrat&#39;, sans-serif;}
span.post-count {font-size:11px;font-weight:700;}
.BlogArchive #ArchiveList ul.posts li {font-size:12px;}
#ArchiveList {padding: 10px;}
#ArchiveList select {width: 100%;padding: 15px;margin-bottom: 5px;    font-family: &#39;Montserrat&#39;, sans-serif;border: 1px solid rgba(201, 201, 201, 0.52);font-size:13px;}

@media screen and (max-width:1066px) {
#outer-wrapper {margin:0 auto;}
.header-right {float:right;padding:0;overflow:hidden;margin:0;max-width:640px!important;}
.header-right img {display:block;}
.cd-main-header {height:100px}
#header {max-width: 300px;}
#search-form {width:250px;}
#recent1 .recent-box {width:49.2%}
.share-post{display:none;}}


@media screen and (max-width:960px) {
#outer-wrapper {margin:0 auto;border:none;box-shadow:none;}
#header h1,#header p,#header,.header-right,#header .description{top: -31px;width:100%;float:left;text-align:center;}
#header {margin:20px auto;padding:0 30px;}
.header-right img, .header-right iframe{margin:0 auto;max-width:100%;}
#header-wrapper{padding:0 10px;}
.header-wrapper2 {padding:0}
#footer-widgetfix {width:100%;overflow:hidden;}
#footer-widgetfix .footer-widget {width:46%;float:left;margin-left:20px;}
#header-inner {left:0;right:0;}}

@media only screen and (max-width:768px){
#post-wrapper, #sidebar-wrapper,#footer-col1,#footer-col2,#footer-col3 {width:100%;max-width:100%;padding-left:0;}
#header {background:none;}
.post-body img {max-width:90%;}
.post-image {margin:0 10px 0 0;}
.sidebar-inner, .post-inner {padding:15px 0 0px;}
.copyleft,#copyright {float:none;text-align:center;margin:10px auto;}
#recent1 .recent-box{width:49%}
#search-form{float:none;margin-bottom:5px}}


@media only screen and (max-width:640px){
#header h1,#header p,#header,.header-right,#header .description{width:100%;float:left;text-align:center;}
.header-right{float:none;margin:0 auto;text-align:center;}
.header-right img, .header-right iframe{float:none;margin:0 auto;text-align:center;}
#header-wrapper{padding:0;margin:20px 0 0 0;min-height:150px;}
#header {min-width:initial;background:none;margin:20px auto;padding:0 5px;}
#header-inner {top:25%;}
#header .description {font-size:100%;line-height:1.5;margin-left:0}
#footer-widgetfix {width:100%;overflow:hidden;}
#footer-widgetfix .footer-widget {width:92%;float:left;margin-left:20px;}
.pagenav .pages, #breakingnews {display:none;}
#search{padding-left:0}
#label_with_thumbs li {padding:10px}
#recent1 .recent-box {width:49%}
.post-image img {width:200px!important; height:150px!important;}
h2.post-title, h1.post-title {font-size:15px!important;}
.post-info {font-size:8px!important}}


@media only screen and (max-width:480px){
#outer-wrapper {margin:0 auto;}
.header-right{float:none;margin:0 auto;text-align:center;}
.header-right img, .header-right iframe{float:none;margin:0 auto;text-align:center;}
.post {margin:0 0 8px;padding:8px;}
.post-image {margin-bottom:5px}
.post-image img {width:100%!important; height:150px!important;}
h2.post-title a, h1.post-title a, h2.post-title, h1.post-title {font-size:18px;padding:5px;clear:both;}
.comments .comment-block, .comments .comments-content .inline-thread {
padding:10px !important;}
.comment .comment-thread.inline-thread .comment {margin: 0 0 0 0 !important;}
#comments .click-comment{display:none;}
#related_posts {padding:0;}
.post-info {font-size:12px;display:none!important}
#feedContainer li {width:100%;}
.authorLeft{float:none;width:120px;margin:0 auto}
.authorDetails{text-align:center}
.authorDetails h2{float:none}
.authorDetails span{float:none}
.articleAuthor .authorContent p{text-align:center}
.topbar-wrapper, .share-post, #related_posts p {display:none;}
#recent1 .recent-box {width:100%;margin-bottom:10px}
ul#relpost_img_sum li, .pager-right, .pager-left {width:100%}}

@media screen and (max-width:320px){
.header-right{float:none;margin:0 auto;text-align:center;}
.header-right img, .header-right iframe{float:none;margin:0 auto;text-align:center;}
.post {padding:6px;}}